Repository halide/Halide, pull requests merged in 2022-09, with the labels that each got.

#7006 Fix Python handling of boolean buffers
  python_bindings/test/correctness/bit_test.py
  python_bindings/test/generators/bit_generator.cpp
  src/PythonExtensionGen.cpp
Labels: release_notes

#7007 Allow use of bool|int|float for Generator type args
  README_python.md
  python_bindings/src/halide/_generator_helpers.py
  python_bindings/test/generators/bitpy_generator.py
  python_bindings/test/generators/complexpy_generator.py
  python_bindings/test/generators/simplepy_generator.py
Labels: buildbot_test_everything

#7011 Add minimum GitHub token permissions for workflow
  .github/workflows/presubmit.yml
Labels: buildbot_test_everything

#6764 Define a Generator framework in Python
  README_python.md
  cmake/HalideGeneratorHelpers.cmake
  python_bindings/CMakeLists.txt
  python_bindings/src/halide/CMakeLists.txt
  python_bindings/src/halide/__init__.py
  python_bindings/src/halide/_generator_helpers.py
  python_bindings/src/halide/halide_/PyArgument.cpp
  python_bindings/src/halide/halide_/PyCallable.cpp
  python_bindings/src/halide/halide_/PyEnums.cpp
  python_bindings/src/halide/halide_/PyGenerator.cpp
  python_bindings/src/halide/halide_/PyGenerator.h
  python_bindings/src/halide/halide_/PyHalide.cpp
  python_bindings/src/halide/halide_/PyImageParam.cpp
  python_bindings/src/halide/halide_/PyParam.cpp
  python_bindings/src/halide/halide_/PyType.cpp
  python_bindings/src/halide/halide_/PyType.h
  python_bindings/stub/PyStubImpl.cpp
  python_bindings/test/apps/CMakeLists.txt
  python_bindings/test/apps/bilateral_grid.py
  python_bindings/test/apps/bilateral_grid_shell.py
  python_bindings/test/correctness/CMakeLists.txt
  python_bindings/test/correctness/addconstant_test.py
  python_bindings/test/correctness/bit_test.py
  python_bindings/test/correctness/callable.py
  python_bindings/test/correctness/multi_method_module_test.py
  python_bindings/test/correctness/pystub.py
  python_bindings/test/generators/CMakeLists.txt
  python_bindings/test/generators/addconstantcpp_generator.cpp
  python_bindings/test/generators/addconstantpy_generator.py
  python_bindings/test/generators/bilateral_grid_generator.py
  python_bindings/test/generators/bitcpp_generator.cpp
  python_bindings/test/generators/bitpy_generator.py
  python_bindings/test/generators/complexcpp_generator.cpp
  python_bindings/test/generators/complexpy_generator.py
  python_bindings/test/generators/simple_generator.cpp
  python_bindings/test/generators/simplecpp_generator.cpp
  python_bindings/test/generators/simplepy_generator.py
  src/Generator.cpp
  src/Parameter.cpp
  src/Pipeline.cpp
  test/generator/CMakeLists.txt
Labels: release_notes, python
